@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

* {box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/** {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}*/

html {
  font-family: 'Libre Barcode 39 Text', cursive;
  /*"fantasy", "Bradley Hand", "Comic Sans MS", "Monospace" ;*/

}

body {
  padding-top: 50px;
    /*When you put a fixed position on a document, it removes it from the flow of the document. So now you have to create some padding on the top so it can be displayed*/
}
/*html: 16px; */
.top-nav {
  background: teal;
  height: 50px;
  position:fixed;
  top: 0;
  left:0;
  width: 100%;
  /*margin-top: 40px;*/
}

.landing {
  /*background-color: pink;*/
  height: calc(100vh - 50px); /*This will give you the height of the viewport minus the height of the nav bar*/
  background-image: url("../images/large_art-creative-metal-creativity (1).jpg"); /*The url will have to go up one level and go to the images folder since the images forlder is not adjacent to the*/
  background-size: cover; /*This will stretch the image to cover the entireety of the background*/
  background-position: center;
  display: flex; /*This will make the h1 a flex item since it's a child of the parent that we chose to flex - the div class landing*/
  align-items: center; /*justify-content deals with centering o the horizontal axis. align-items deals with centering on the vertical axis. Vertical centering will only work if you have a defined height. We did that on line 30*/
  justify-content: center;
  color:orange; /*Colors are inherited from parent to child*/
  font-size: 30px;
  transition: 0.5s; /*This takes a half second for this image to transition*/
  text-shadow: 2px 2px red;
}

@media(max-width: 700px) {
  /*Nested in side of this code block is only gong to effect when the browser width is smaller than 700px. This is like an if statement. This is like a mini style sheet inside of your stylesheet*/

  .landing {
    background-image: url(../images/small_graffiti-berlin-wall-wall-trabi.jpg);
    background-position: bottom; /*Focuses the positioning to the bottom of the image*/
    font-size:40px;
    transition: 0.5s; /*This takes a half second for this image to transition*/
    /*font-family: "Helvetica";*/
  }

}

  .row {
    display: flex;
  }

  .col-3 {
    width: 100%;
  }

@media (max-width:700px;) {
  .row{
    display: block;
  }
}

@media (max-width: 500px) {

  .landing{
    font-size: 2rem;
    transition: 0.5s; /*This takes a half second for this image to transition*/
    display:box;

  }

}



/*.row{
  display: flex;
  font-family: "arial";

}

.col-3{
  width: 33.33%
}*/
